# Ignorar todo el contenido dentro de data/raw excepto las carpetas vacías
data/raw/**/*
!data/raw/**/.gitkeep

# Ignorar todo el contenido dentro de data/processed excepto .gitkeep
data/processed/**/*
!data/processed/**/.gitkeep

# Ignorar todo el contenido dentro de samples excepto .gitkeep
samples/**/*
!samples/**/.gitkeep

# Ignorar archivos pesados o generados automáticamente
models/checkpoints/*
models/saved_models/*
results/figures/*
results/metrics/*

# Archivos de sistema y caché
__pycache__/
*.pyc
*.pyo
*.DS_Store

# Carpeta de entorno virtual (si la tienes)
venv/
.env/
